auth_enabled: false
server:
  http_listen_port: 3100
ingester:
  lifecycler:
    address: 127.0.0.1
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
    final_sleep: 0s
schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h
compactor:
  working_directory: /loki/compactor
  shared_store: filesystem
limits_config:
  enforce_metric_name: false
  reject_old_samples: true
  reject_old_samples_max_age: 168h
chunk_store:
  filesystem:
    directory: /loki_data/chunks
storage_config:
  boltdb_shipper:
    active_index_directory: /loki_data/boltdb-shipper-active
    cache_location: /loki_data/boltdb-shipper-cache
    resync_interval: 5s
  filesystem:
    directory: /loki_data/chunks
