global:
  scrape_interval: 15s
scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'node_exporter'
    static_configs:
      - targets: ['raspberry_pi_nas:9100'] # Target the host Pi (via its IP)
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080'] # For monitoring containers
